/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.button-container .ant-btn {
  align-items: center;
  font-size: 16px;
  padding: 8px 16px;
  display: flex;
  font-weight: 500;
  height: 40px;
}
.button-container .ant-btn:hover,
.button-container .ant-btn:focus {
  border-color: #04b946;
}
.button-container .ant-btn-lg {
  height: 56px !important;
  padding: 16px 40px;
}
.button-container .ant-btn-sm {
  height: 32px !important;
  padding: 4px 8px;
}
.button-container .ant-btn-primary {
  box-shadow: none;
  border: none;
}
.button-container .ant-btn-ghost {
  box-shadow: none;
  border: none;
}
.button-container .ant-btn-link {
  box-shadow: none;
  border: none;
}
.button-container .ant-btn-default {
  box-shadow: none;
  border: solid 1px;
}
.button-container svg {
  fill: currentColor;
}
.button-container img {
  margin: 0 8px !important;
}
.icon-left .ant-btn {
  padding: 8px 24px 8px 16px;
  direction: ltr;
  display: flex;
  align-items: center;
}
.icon-left .ant-btn svg {
  margin-right: 8px;
}
.icon-left .ant-btn-lg {
  padding: 16px 32px 16px 40px;
}
.icon-left .ant-btn-sm {
  padding: 4px 4px 4px 8px;
}
.icon-right .ant-btn {
  padding: 8px 16px 8px 24px;
  direction: rtl;
  display: flex;
  align-items: center;
}
.icon-right .ant-btn svg {
  margin-left: 8px;
}
.icon-right .ant-btn-lg {
  padding: 16px 40px 16px 32px;
}
.icon-right .ant-btn-sm {
  padding: 4px 8px 4px 4px;
}
.button-primary-primary .ant-btn-primary {
  background-color: #04b946;
}
.button-primary-primary .ant-btn-primary:hover {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.18);
  background-color: #04b946 !important;
}
.button-primary-primary .ant-btn-primary:focus {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.18);
  background-color: #007c2d;
}
.button-primary-secondary .ant-btn-primary {
  background-color: #0c67f0;
}
.button-primary-secondary .ant-btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #0c67f0;
}
.button-primary-secondary .ant-btn-primary:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #0050ac;
}
.button-primary-warning .ant-btn-primary {
  background-color: #ffb60a;
}
.button-primary-warning .ant-btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffb60a;
}
.button-primary-warning .ant-btn-primary:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #d19509;
}
.button-primary-danger .ant-btn-primary {
  background-color: #dd0a0a;
}
.button-primary-danger .ant-btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #dd0a0a;
}
.button-primary-danger .ant-btn-primary:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #a10808;
}
.button-secondary-grey .ant-btn-ghost {
  background-color: #f9f9f9;
  color: #404040;
}
.button-secondary-grey .ant-btn-ghost svg {
  color: #04b946;
}
.button-secondary-grey .ant-btn-ghost:hover {
  background-color: #dedede;
  color: #404040;
}
.button-secondary-primary .ant-btn-ghost {
  background-color: #eefff2;
  color: #404040;
}
.button-secondary-primary .ant-btn-ghost:hover {
  background-color: #d3f4d4;
  color: #404040;
}
.button-secondary-primary .ant-btn-ghost:focus {
  color: #007c2d;
  background-color: #d3f4d4;
}
.button-secondary-secondary .ant-btn-ghost {
  background-color: #e3f3fe;
  color: #404040;
}
.button-secondary-secondary .ant-btn-ghost:hover {
  background-color: #d6ecff;
  color: #0c67f0;
}
.button-secondary-secondary .ant-btn-ghost:focus {
  color: #0050ac;
  background-color: #d6ecff;
}
.button-secondary-warning .ant-btn-ghost {
  background-color: #fff9e6;
  color: #404040;
}
.button-secondary-warning .ant-btn-ghost svg {
  color: #ffb60a;
}
.button-secondary-warning .ant-btn-ghost:hover {
  background-color: #fffae5;
  color: #ffb60a;
}
.button-secondary-warning .ant-btn-ghost:focus {
  color: #d19509;
  background-color: #fffae5;
}
.button-secondary-danger .ant-btn-ghost {
  background-color: #ffeaec;
  color: #404040;
}
.button-secondary-danger .ant-btn-ghost svg {
  color: #dd0a0a;
}
.button-secondary-danger .ant-btn-ghost:hover {
  background-color: #fcd3d3;
  color: #dd0a0a;
}
.button-secondary-danger .ant-btn-ghost:focus {
  color: #a10808;
  background-color: #fcd3d3;
}
.button-secondary-success .ant-btn-ghost {
  background-color: #eefff2;
  color: #404040;
}
.button-secondary-success .ant-btn-ghost svg {
  color: #04b946;
}
.button-secondary-success .ant-btn-ghost:hover {
  background-color: #d3f4d4;
  color: #04b946;
}
.button-secondary-success .ant-btn-ghost:focus {
  color: #007c2d;
  background-color: #d3f4d4;
}
.button-linear-primary .ant-btn-default {
  border-color: #a5ebb2;
}
.button-linear-primary .ant-btn-default:hover {
  border-color: #04b946;
  color: #04b946;
}
.button-linear-primary .ant-btn-default:focus {
  color: #007c2d;
  border-color: #007c2d;
}
.button-linear-success .ant-btn-default {
  border-color: #a5ebb2;
}
.button-linear-success .ant-btn-default svg {
  color: #04b946;
}
.button-linear-success .ant-btn-default:hover {
  border-color: #04b946;
  color: #04b946;
}
.button-linear-success .ant-btn-default:focus {
  color: #007c2d;
  border-color: #007c2d;
}
.button-linear-secondary .ant-btn-default {
  border-color: #0c67f0;
}
.button-linear-secondary .ant-btn-default:hover {
  border-color: #0c67f0;
  color: #0c67f0;
}
.button-linear-secondary .ant-btn-default:focus {
  color: #0050ac;
  border-color: #0050ac;
}
.button-linear-danger .ant-btn-default {
  border-color: #dd0a0a;
}
.button-linear-danger .ant-btn-default svg {
  color: #dd0a0a;
}
.button-linear-danger .ant-btn-default:hover {
  border-color: #dd0a0a;
  color: #dd0a0a;
}
.button-linear-danger .ant-btn-default:focus {
  color: #a10808;
  border-color: #a10808;
}
.button-linear-warning .ant-btn-default {
  border-color: #ffb60a;
}
.button-linear-warning .ant-btn-default svg {
  color: #ffb60a;
}
.button-linear-warning .ant-btn-default:hover {
  border-color: #ffb60a;
  color: #ffb60a;
}
.button-linear-warning .ant-btn-default:focus {
  color: #d19509;
  border-color: #d19509;
}
.button-linear-disabled .ant-btn[disabled] {
  background-color: #fff;
}
.button-dashed-primary .ant-btn-dashed {
  border-color: #04b946;
}
.button-dashed-primary .ant-btn-dashed:hover {
  border-color: #04b946;
  color: #04b946;
  background-color: none;
}
.button-dashed-primary .ant-btn-dashed:focus {
  color: #007c2d;
  border-color: #04b946;
  background-color: none;
}
.button-dashed-success .ant-btn-dashed {
  border-color: #a5ebb2;
}
.button-dashed-success .ant-btn-dashed svg {
  color: #04b946;
}
.button-dashed-success .ant-btn-dashed:hover {
  border-color: #04b946;
  color: #04b946;
  background-color: #eefff2;
}
.button-dashed-success .ant-btn-dashed:focus {
  color: #007c2d;
  border-color: #007c2d;
  background-color: #eefff2;
}
.button-dashed-secondary .ant-btn-dashed {
  border-color: #0c67f0;
}
.button-dashed-secondary .ant-btn-dashed svg {
  color: #0c67f0;
}
.button-dashed-secondary .ant-btn-dashed:hover {
  border-color: #0c67f0;
  color: #0c67f0;
  background-color: #e3f3fe;
}
.button-dashed-secondary .ant-btn-dashed:focus {
  color: #0050ac;
  border-color: #0050ac;
  background-color: #e3f3fe;
}
.button-dashed-danger .ant-btn-dashed {
  border-color: #dd0a0a;
}
.button-dashed-danger .ant-btn-dashed svg {
  color: #dd0a0a;
}
.button-dashed-danger .ant-btn-dashed:hover {
  border-color: #dd0a0a;
  color: #dd0a0a;
  background-color: #ffeaec;
}
.button-dashed-danger .ant-btn-dashed:focus {
  color: #a10808;
  border-color: #a10808;
  background-color: #ffeaec;
}
.button-dashed-warning .ant-btn-dashed {
  border-color: #ffb60a;
}
.button-dashed-warning .ant-btn-dashed svg {
  color: #ffb60a;
}
.button-dashed-warning .ant-btn-dashed:hover {
  border-color: #ffb60a;
  color: #ffb60a;
  background-color: #fff9e6;
}
.button-dashed-warning .ant-btn-dashed:focus {
  color: #d19509;
  border-color: #d19509;
  background-color: #fff9e6;
}
.button-dashed-disabled .ant-btn-dashed[disabled] {
  background-color: #fff;
  border-color: #dedede;
}
.button-flat-primary .ant-btn-link {
  color: #404040;
}
.button-flat-primary .ant-btn-link svg {
  color: inherit;
}
.button-flat-primary .ant-btn-link:hover {
  background-color: transparent !important;
}
.button-flat-primary .ant-btn-link:hover {
  color: #04b946;
  background-color: #eefff2;
}
.button-flat-primary .ant-btn-link:focus {
  color: #007c2d;
  background-color: #eefff2;
}
.button-flat-success .ant-btn-link {
  color: #04b946;
}
.button-flat-success .ant-btn-link svg {
  color: inherit;
}
.button-flat-success .ant-btn-link:hover {
  color: #04b946;
  background-color: #eefff2;
}
.button-flat-success .ant-btn-link:focus {
  color: #007c2d;
  background-color: #eefff2;
}
.button-flat-secondary .ant-btn-link {
  color: #0c67f0;
}
.button-flat-secondary .ant-btn-link:hover {
  color: #0c67f0;
  background-color: #e3f3fe;
}
.button-flat-secondary .ant-btn-link:focus {
  color: #0050ac;
  background-color: #e3f3fe;
}
.button-flat-danger .ant-btn-link {
  color: #dd0a0a;
}
.button-flat-danger .ant-btn-link:hover {
  color: #dd0a0a;
  background-color: #ffeaec;
}
.button-flat-danger .ant-btn-link:focus {
  color: #a10808;
  background-color: #ffeaec;
}
.button-flat-warning .ant-btn-link {
  color: #ffb60a;
}
.button-flat-warning .ant-btn-link:hover {
  color: #ffb60a;
  background-color: #fff9e6;
}
.button-flat-warning .ant-btn-link:focus {
  color: #d19509;
  background-color: #fff9e6;
}
.button-flat-disabled .ant-btn-link[disabled] {
  background-color: #fff;
  color: #dedede;
}
.ant-btn-primary[disabled] {
  background-color: #fff !important;
}
/*# sourceMappingURL=index.css.map */